body {
  background-color: powderblue;
}
h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px
  margin-bottom: 40px;
}

a[href="http://www.w3schools.com"] {
  color: red;
}

a{
font-size: 13px
}

h2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

#paragraph2 {
  background-color: white;
  width: 900px;
  border: 10px solid green;
  padding: 35px;
  margin: 20px;
  line-height: 2.0;
  font-size: 13px;
}


.blue {
background-color: darkblue;
  width: 350;
  border: 15px darkblue;
  padding: 25px;
  margin: 20px; 
  color: white;
  
}

li{
  list-style-type: decimal-leading-zero;
}

table, td, th {
  border: 1px solid;
  padding: 10px;
}

table {
  border-collapse: collapse;
}

th {
  background-color: gray;
}

td {
  background-color: white;
}
