body {
    background-color: LightBlue;
    margin: 0;
    font-family: sans-serif;
}

main {
    margin-left: 200px;
    padding: 20px;
}

header {
    background-color: LightSteelBlue;
    text-align: center;
    border: 3px solid Azure;
    padding: 10px;
}

#menuItems {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: DarkSeaGreen;
    display: flex;
    flex-direction: column;
}

nav button {
    background-color: DarkSeaGreen;
    padding: 15px;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.5s;
}

nav button:hover {
    background-color: SeaGreen;
}

#jumpMenu {
    padding: 0;
    margin: 0;
    background-color: HoneyDew;
}

#recentArticles:hover + #jumpMenu, 
#jumpMenu:hover {
    display: block; 
}

#jumpMenu a {
    display: block;
    padding: 10px;
    color: Black;
}

#jumpMenu a:hover {
    background-color: DarkOliveGreen;
    color: White;
}

#container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

article {
    padding: 20px;
    width: 300px;
    color: Gray; 
    transition: color 2s, transform 2s;
}

article:hover {
    color: Black;
    transition-timing-function: ease-out;
}

article a {
    color: inherit;
}

article > p:first-of-type::first-letter {
    font-family: "Times New Roman", serif;
    font-size: 36px;
}

article a[href*="google.com"]::after {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 5px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/Link-external-small-ltr-progressive.svg/3840px-Link-external-small-ltr-progressive.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
}
