body {
  background-color: LightBlue;
}

header {
  position: fixed;
  top: 0;
  left: 17%;
  width: 85%;
  background-color: LightSteelBlue;
  text-align: center;
  border: 3px solid #F0FFFF;
  padding: 10px;
}

#container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-left: 17%;
}

article {
  padding: 15px;
  width: 300px;
  min-height: 200px;
  transition: 
    color 2s,
    background-color 2s,
    transform 2s,
    box-shadow 2s;
}

article:hover {
  color: #111;
  background-color: #e0f0ff;
  transform: scale(1.05);
}

article > p:first-of-type::first-letter {
  font-family: "Times New Roman", Times, serif;
  font-size: 36px;
}

article a[href^="http://www.google.com"]::after {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-left: 6px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/Link-external-small-ltr-progressive.svg/3840px-Link-external-small-ltr-progressive.svg.png");
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
}

nav button {
  background-color: DarkSeaGreen;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.5s;
}

nav button:hover {
  background-color: SeaGreen;
}

#jumpMenu {
 position: fixed;
  top: 0;
  left: 0;
  width: 15%;
  height: 100vh;
  background-color: DarkSeaGreen;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 3px solid #F0FFFF;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s;
}

#recentArticles:hover + #jumpMenu {
  opacity: 1;
  pointer-events: auto;
}

#jumpMenu a {
  display: block;
  padding: 5px;
  color: black;
  text-decoration: none;
  transition: background-color 0.5s, color 0.5s;
}

#jumpMenu a:hover {
  background-color: DarkOliveGreen;
  color: white;
}
