body {
  background-color: LightBlue;
}

header {
  position: fixed;
  top: 0;
  left: 17%;
  width: 85%;
  background-color: LightSteelBlue;
  text-align: center;
  border: 3px solid #F0FFFF;
  padding: 10px;
}

#jumpMenu {
  position: fixed;
  top: 40px;
  left: 0;
  width: 15%;
  background-color: DarkSeaGreen;
  padding: 10px;
  border: 3px solid #F0FFFF;
  display: none;
}

#container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

article {
  color: #777;
  background-color: white;
  padding: 15px;
  width: 300px;
  height: 200px;
  overflow: hidden;
  transition: color 2s, height 2s;
}

article:hover {
  color: #222;
  height: 350px;
}

article > p:first-of-type::first-letter {
  font-family: "Times New Roman", Times, serif;
  font-size: 36px;
}

a[href^="http://www.google.com"]::after {
  content: url("https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/Link-external-small-ltr-progressive.svg/3840px-Link-external-small-ltr-progressive.svg.png");
  margin-left: 6px;
}

nav button {
  background-color: DarkSeaGreen;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.5s;
}

nav button:hover {
  background-color: SeaGreen;
}

#recentArticles:hover + #jumpMenu {
  display: block;
}

#jumpMenu a {
  display: block;
  padding: 5px;
  color: black;
  text-decoration: none;
  transition: background-color 0.5s, color 0.5s;
}

#jumpMenu a:hover {
  background-color: DarkOliveGreen;
  color: white;
}
