body {
    background-color: LightBlue;
    margin: 0;
}

main {
    margin-left: 210px;
    padding: 20px;
}

#menuItems {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: DarkSeaGreen;
}

nav button {
    background-color: DarkSeaGreen;
    width: 100%;
    padding: 15px;
    border: none;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.5s;
}

nav button:hover {
    background-color: SeaGreen;
}

#jumpMenu {
    display: none;
    background-color: White;
    margin: 0;
    padding: 10px;
    list-style: none;
}

#recentArticles:hover + #jumpMenu, 
#jumpMenu:hover {
    display: block;
}

#jumpMenu a {
    display: block;
    color: Black;
    text-decoration: none;
    padding: 5px;
}

#jumpMenu a:hover {
    background-color: DarkOliveGreen;
    color: White;
}

#container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

article {
    width: 300px;
    padding: 10px;
    color: Silver;
    transition: color 2s, transform 2s;
}

article:hover {
    color: Black;
    transform: scale(1.1);
}

article a {
    pointer-events: none;
    text-decoration: none;
    color: inherit;
}

article > p:first-of-type::first-letter {
    font-family: "Times New Roman", serif;
    font-size: 36px;
}

article a[href*="google.com"]::after {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 5px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/Link-external-small-ltr-progressive.svg/3840px-Link-external-small-ltr-progressive.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
}
