body {
  background-color: powderblue;
}

#jumpMenu {
   display: flex;
  background-color: Yellow;
  postion: left;
  flex-direction: column;
  width: 100px;
  margin: 10px;
  padding: 10px;
  text-align: center;  
  font-size: 30px;
}
