body {
  background-color: LightBlue;
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  top: 50px;
  left: 17%;
  width: 85%;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

header{
 position: fixed;
  top: 0;
  left: 17%;
  width: 85%;
  background-color: LightSteelBlue;
  text-align: center;
  border: 3px solid #F0FFFF;
  padding: 10px;
  }

#jumpMenu {
   position: fixed;
  top: 0;
  left: 0;
  width: 15%;
  height: 100vh;
  background-color: DarkSeaGreen;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 3px solid #F0FFFF;
  text-align: center;
}

main {
  margin-left: 15%;
  padding-top: 120px;
}


#container{
display: flex;
flex-wrap: wrap;
gap: 20px;
justify-content: center;
}

article {
  width: 250px;
  padding: 15px;
  text-align: center;
  font-size: 15px;
  border-radius: 5px;
}

#thanks {
 position: fixed;
  bottom: 10px;
  right: 10px;
  width: 150px;
 background-color: DarkSeaGreen;
  color: white;
  text-align: center;
  border: 3px solid #F0FFFF;
}

footer {
  bottom: 0;
  left: 17%;
  width: 85%;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
}
