body {
  background-color: grey;
}


header{
text-align: center;  
  position: sticky;
  top: 0;
  background-color: green;
  border: 2px solid #4CAF50;
}

#jumpMenu {
   display: flex;
  background-color: Yellow;
  postion: left;
  flex-direction: column;
  width: 100px;
  margin: 10px;
  padding: 10px;
  text-align: center;  
  font-size: 30px;
  float: left;
}

#container{

}

#a2 {
  display: flex;
  flex-direction: column;
}

#a3 {
display: flex;
  flex-direction: column;
}

#a2 {
display: flex;
  flex-direction: column;
}

#a3 {
display: flex;
  flex-direction: column;
}

#a4 {
display: flex;
  flex-direction: column;
}

#a5 {
display: flex;
  flex-direction: column;
}

#a6 {
display: flex;
  flex-direction: column;
}

#a7 {
display: flex;
  flex-direction: column;
}

#a8 {
display: flex;
  flex-direction: column;
}

#a9 {
display: flex;
  flex-direction: column;
}

#a10 {
display: flex;
  flex-direction: column;
}
  
#thanks {
 position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  height: 200px;
  background-color: green;
  text-align: center; 
  border: 3px solid #73AD21;
}
