body {
  background-color: lightblue;
}


header{
  text-align: center;  
  position: sticky;
  top: 0;
  background-color: green;
  border: 1px solid #4CAF50;
}

#jumpMenu {
   display: flex;
  background-color: Yellow;
  postion: left;
  flex-direction: column;
  width: auto;
  margin: 10px;
  padding: 10px;
  text-align: center;  
  font-size: 20px;
  float: left;
}

#container{
  display: flex;
  width: 300px
}


#thanks {
 position: fixed;
  bottom: 0;
  right: 0;
  width: 100px;
  background-color: green;
  text-align: center; 
  border: 3px solid #73AD21;
}
