body {
  background-color: lightblue;
}


header{
 position: fixed;
  top: 0;
  left: 15%;
  width: 85%;
  background-color: green;
  text-align: center;
  padding: 10px;
  padding-bottom: 120px;
  }

#jumpMenu {
   position: fixed;
  top: 0;
  left: 0;
  width: 15%;
  height: 100vh;
  background-color: yellow;
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align: center;


#container{
  display: flex;
  width: 300px;
  justify-content: space-evenly;
}

article {
  width: 300px;
  padding: 15px;
  text-align: center;
  font-size: 15px;
  border-radius: 5px;
}

#thanks {
 position: fixed;
  bottom: 10px;
  right: 10px;
  width: 150px;
 background-color: green;
  color: white;
  text-align: center;
  border: 3px solid #73AD21;
}
