body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     background-color: Azure;
}

#sidebar {
    background-color: DarkSeaGreen;
    padding: 20px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

main {
    padding: 20px;

}

h1 {
    margin-top: 0;
}

   .title {
font-weight: bold; 
}

h2 {
    border-bottom: 2px  DarkSeaGreen;
    padding-bottom: 5px;
}

   h3 {
    margin-bottom: 0;
    font-size: 1.1em;
}

p {
    margin-top: 2px;
    margin-bottom: 2px;
}

 .date {
    font-size: 0.9em;
    font-style: italic;
    margin-bottom: 15px;
}


@media only screen and (min-width: 1024px) {
    #sidebar {
        background-color: DarkSeaGreen;
        position: fixed;
        top: 0;
        left: 0;
        width: 250px;
        height: 100%;
        text-align: left;

    }

    main {
        margin-left: 250px;
        padding: 40px;
        max-width: 800px;
    }
}
